<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/submit.css') }}">
    <title>Salaries In Egypt at 2024</title>
</head>
<body>

    <div class="submission-message">
        <h1 class="Salar">Salaries In Egypt at 2024</h1>
        <br>
        <h1 class="subm">submitted successfully</h1>
        <br>
        <h1 class="Than">Thanks for your time</h1>
    </div>
</body>
</html>
