body {
    font-family: Arial, sans-serif;
    background-color: #F0EBF8;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.submission-message {
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 400px;
    text-align: center;
    background-color: rgb(103, 58, 183);
    color: #f0f8ff;
}
